*.o
*.pyo
autom4te.cache/
Makefile
*.class
*~
config.h
config.log
config.status
*.lo
*.la
libtool
jep.lsm
jepp.jar
jepp.spec
src/jep/.deps/
src/jep/.libs/
src/jep/invocationhandler.h
src/jep/jep.h
src/jep/python/jep_object.h
stamp-h1
build
dist
*.pyc
MANIFEST
.DS_Store
.idea
